body{
    font-family:  sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    overflow-x: hidden;
    margin: 0;
}

*,
*::after
*::before{
    box-sizing: inherit;
}


.Nav, footer, main{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 3.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

h2{
    font-size: 2.6rem;
    text-transform: capitalize;
}

h3{
    font-size: 2.4rem;
    font-weight: lighter;
    text-transform: capitalize;
    font-style: italic;
}

h3, h4, h5, h6 {
    font-size: 2rem;
    font-weight: lighter;
    text-transform: capitalize;
}

p{
    font-size: 1.7rem;
    text-align: justify;
}

ul, li{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-style: italic;
    line-height: 2.5rem;
}

a{
    color: black;
    font-size: 1.4rem;
    box-shadow: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


img{
    width: 100%;
}

.Imagen {
    width: 30vw;
} 




@media screen and (max-width: 1100px) {
    main{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


@media screen and (max-width: 900px) {
    main{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    h1{
        font-size: 2.9rem;
        font-weight: bold;
        text-transform: capitalize;
    }

    h2{
        font-size: 2.4rem;
        text-transform: capitalize;
    }

    h3{
        font-size: 2.1rem;
        font-weight: lighter;
        text-transform: capitalize;
        font-style: italic;
    }

    h3, h4, h5, h6 {
        font-size: 1.9rem;
        font-weight: lighter;
        text-transform: capitalize;
    }

    p{
        font-size: 1.7rem;
        text-align: justify;
    }

    ul, li{
        font-size: 1.5rem;
        text-transform: capitalize;
        font-style: italic;
        line-height: 2.5rem;
    }

    a{
        color: black;
        font-size: 1.4rem;
        padding-bottom: 3rem;
    }
}



footer {    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 999;
}

a{
    margin-top: 10px;
    outline: none;
    border: 0px;
}

.navegation {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 90%;


}

.navegation i {
    font-size: 3.5rem;
    margin-left: 5rem;
}

.Nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1100px;
    height: 100vh;
    z-index: 99;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: .5s ease;
    transform: scale3d(0,0,0);
}

.show-nav{
    transform: scale3d(1,1,1);
    overflow-y: hidden;
}

.Nav a{
    text-decoration: none;
    font-size: 4rem;
    text-align: center;
}



@media screen and (max-width: 700px) {
    .navegation i {
        font-size: 2.6rem;
        margin-left: .3rem;
    }
}