body{
    font-family: sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    overflow-x: hidden;
    margin: 0;
}

*,
*::after
*::before{
    box-sizing: inherit;
}



/* Cambiar estilo del scroll */
::-webkit-scrollbar {
    width: 10px; /* Ancho del scrollbar */
  }
  
  ::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color del fondo del track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #212121;
    border-radius: 5px; /* Radio de borde del thumb */
  }



header, footer, main{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    scroll-behavior: smooth;
}

main {
    margin-bottom: 90px;
}

h1{
    font-size: 3.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

h2{
    font-size: 2.8rem;
    text-transform: capitalize;
}

h3{
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: capitalize;
    font-style: italic;
}

h4, h5, h6 {
    font-size: 2.2rem;
    font-weight: bolder;
    font-style: italic;
    text-transform: capitalize;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.7rem;
    text-align: justify;
    color: #212121;
}

ul, li{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-style: italic;
    line-height: 2.5rem;
}

ul{
    margin-bottom: 2.5rem;
}

a{
    color: black;
    font-size: 1.4rem;
    box-shadow: 0px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.Navegation{
    display: flex;
    flex-direction: column;
}

.Navegation a {
    padding-top: 16px;
    padding: 16px;
    color: #212121;
    font-size: 2.1rem;
    text-transform: capitalize;
}

img{
    width: 100%;
}

.Imagen {
    width: 30vw;
} 

hr{
    height: .3rem;
    background-color: #212121;
}



@media screen and (max-width: 1100px) {
    main{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


@media screen and (max-width: 900px) {
    main{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    h1{
        font-size: 2.5rem;
        text-transform: capitalize;
    }

    h2{
        font-size: 2.4rem;
        text-transform: capitalize;
    }

    h3{
        font-size: 2.1rem;
        font-weight: lighter;
        text-transform: capitalize;
        font-style: italic;
    }

    h4, h5, h6 {
        font-size: 1.9rem;
        font-weight: lighter;
        text-transform: capitalize;
    }

    p{
        font-size: 1.7rem;
        text-align: justify;
    }

    ul, li{
        font-size: 1.5rem;
        text-transform: capitalize;
        font-style: italic;
        line-height: 2.5rem;
    }

    a{
        color: black;
        font-size: 1.4rem;
        padding-bottom: 3rem;
    }
}



footer {    
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 90px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    z-index: 999;
}

a{
    margin-top: 10px;
    outline: none;
    border: 0px;
}



/************** .cards  ****************/



.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));

    margin-right: 2rem;
}

.flipCard {
    background-color: transparent;
    width: 190px;
    height: 254px;
    perspective: 1000px;
    font-family: sans-serif;
  }
  
  .flipCardContent {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  .flipCard:hover .flipCardContent {
      transform: rotateY(180deg);
    }
  
  .Front, .Back {
    box-shadow: 0 8px 14px 0 rgba(0,0,0,0.2);
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid #212121;
    border-radius: 1rem;
  }

  .Back a {
    color: #000000;
    text-decoration: none;
    text-transform: capitalize;
}

  .Back a:hover {
    border-radius: 20px;
    margin: 20px;
    transition-duration: .7s;
    transform: scale(1.1) rotate(-10deg);
  }
  
  
  .Front:hover {
    background: linear-gradient(120deg, #FFd900  30%, #FF5C00  88%,
       rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
    color: coral;
  }
  
  .Back {
    background: linear-gradient(120deg, #ffd900  30%, #FF5C00  88%,
       #FF9900 40%, rgb(255, 185, 160) 78%);
    color: white;
    transform: rotateY(180deg);
  }
  

  .FrontCSS:hover {
    background: linear-gradient(120deg, #007AFF 60%, #0027d4 88%, rgb(195, 211, 255) 40%, rgba(80, 127, 255, 0.603) 48%);
    color: coral;
}

.BackCSS {
    background: linear-gradient(120deg, #007AFF 60%, #0027d4 88%, rgb(195, 211, 255) 40%, rgba(80, 127, 255, 0.603) 48%);
    color: coral;
    transform: rotateY(180deg);
}



.FrontJS:hover {
    background: linear-gradient(120deg, #FFFF00 60%, #FFD700 88%, rgb(255, 211, 195) 40%, rgba(255, 252, 80, 0.603) 48%);
    color: #FFFF00;
}

.BackJs {
    background: linear-gradient(120deg, #FFFF00 60%, #FFD700 88%, rgb(255, 211, 195) 40%, rgba(255, 252, 80, 0.603) 48%);
    color: #FFFF00;
    transform: rotateY(180deg);
}

.FrontNode:hover {
    background: linear-gradient(120deg, #3cbe3c 60%, #06ee7a 88%, rgb(109, 255, 116) 40%, rgba(80, 255, 118, 0.603) 48%);
    color: #00FF00;
}
  
.BackNode {
    background: linear-gradient(120deg, #3cbe3c 60%, #389c6a 88%, rgb(57, 255, 90) 40%, rgba(80, 255, 118, 0.603) 48%);
    color: #00FF00;
    transform: rotateY(180deg);
}

.FrontReact:hover {
    background: linear-gradient(120deg, #00aeff 60%, #0091aa 88%, rgb(255, 211, 195) 40%, rgba(80, 214, 255, 0.603) 48%);
    color: #0000FF;
}
  
.BackReact {
    background: linear-gradient(120deg, #00aeFF 60%, #0d97af 88%, rgb(255, 211, 195) 40%, rgba(80, 214, 255, 0.603) 48%);
    color: #0000FF;
    transform: rotateY(180deg);
}


.FrontTarjeta:hover {
    background: linear-gradient(120deg, #00ffff 60%, #00cccc 88%, rgb(255, 211, 195) 40%, rgba(128, 255, 255, 0.603) 48%);
}
  
.BackTarjeta {
    background: linear-gradient(120deg, #00ffff 60%, #00cccc 88%, rgb(255, 211, 195) 40%, rgba(128, 255, 255, 0.603) 48%)
}







  
  /* **********************************************/
  /* **********************************************/
  /* **********************************************/
  /* ************.Navegation  ****************/
  /* **********************************************/
  /* **********************************************/
  /* **********************************************/







.navegation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 80%;
}

.navegation i {
    font-size: 3.5rem;
    margin-left: 5rem;
}

.Nav{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 1100px;
    height: calc(100vh - 90px);
    z-index: 99;
    display: flex;
    flex-direction: column;
    background-color: white;
    transition: .5s ease;
    transform: scale3d(0,0,0);

}

.show-nav{
    transform: scale3d(1,1,1);
    overflow-y: auto;
}

.Nav a{
    text-decoration: none;
    font-size: 2rem;
    text-align: center;
    padding: 10px 0px;
}


section .content {
    overflow: hidden;
    max-height: 0;
    text-align: justify;
    font-family: "Courier New", Courier, monospace;
    background: #e4e4e4;
    transition: all 0.2s ease-in;
  }
  
  .submenu {
    display: block;
    text-align: left;
    font-family: "Courier New", Courier, monospace;
    background-color: #212121;
    border-bottom: 2px solid gray;
    color: white;

    margin-top: 0px;
  }
  
  .submenu-content {
      display: none;
      /* background-color: #e4e4e4; */
    }


.submenu-content a {
    margin-top: 0px;
    display: block;
    color: #212121;
    padding: 10px 0;
  }

  .submenu-content a:hover {
    background-color: #212121;
    color: white;
  }
  
  .submenu-content,
  .submenu-content:hover {
    display: block;
  }
  
  section:target .content {
    max-height: 40px;
    padding: 10px;
  }

  
  
  
@media screen and (max-width: 700px) {
    .navegation i {
        font-size: 2.6rem;
        margin-left: .3rem;
    }

    .Nav a{
        font-size: 1rem;
    }

    ::-webkit-scrollbar {
        width: 3px; /* Ancho del scrollbar */
      }
    
      ::-webkit-scrollbar-thumb {
        background-color: #212121;
        border-radius: 5px; /* Radio de borde del thumb */
      }

    hr{
        height: .2rem;
    }
      
    

}






  /* **********************************************/
  /* **********************************************/
  /* **********************************************/
  /* ************.Navegationheader  ****************/
  /* **********************************************/
  /* **********************************************/


  header {
    position: sticky;
    top: 0;
    white-space: nowrap;
    height: 70px;
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
}

.headerNav {
    display: flex;
    overflow-x: scroll;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.headerNav a {
    text-decoration: none;
    margin-right: 20px;
    color: #fff;
    background-color: #212121;
    padding: 5px 10px;
    border-radius: 1rem;
    text-transform: capitalize;
}

.headerNav a:hover {
    transition: .3s ease;
    background-color: #8bfaeb;
    color: black;
}

.scrollLeftButton{
    position: fixed;
    left: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    font-size: 1.5rem;
    background-color: #fff;
    border-color: #fff;
    color: #fff;
}

.scrollRightButton{
    position: fixed;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10%;
    font-size: 1.5rem;
    background-color: #fff;
    border-color: #fff;
    color: #fff;
}

.headerNav::-webkit-scrollbar {
    background-color: #fff;
    width: 1px;
    height: 1px;
}

.headerNav::-webkit-scrollbar-thumb {
    background-color: #fff;
}
