body{
    font-family:  sans-serif;
    font-size: 16px;
    box-sizing: content-box;
    overflow-x: hidden;
    margin: 0;
}

*,
*::after
*::before{
    box-sizing: inherit;
}

main{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
}

h1{
    font-size: 3.2rem;
    font-weight: bold;
    text-transform: capitalize;
}

h2{
    font-size: 2.6rem;
    text-transform: capitalize;
}

h3{
    font-size: 2.4rem;
    font-weight: lighter;
    text-transform: capitalize;
    font-style: italic;
}

h3, h4, h5, h6 {
    font-size: 2rem;
    font-weight: lighter;
    text-transform: capitalize;
}

p{
    font-size: 1.7rem;
    text-align: justify;
}

ul, li{
    font-size: 1.5rem;
    text-transform: capitalize;
    font-style: italic;
    line-height: 2.5rem;
}

a{
    color: black;
    font-size: 1.4rem;
    padding-bottom: 3rem;
}

img{
    width: 100%;
}

.Imagen {
    width: 30vw;
}

.Home{
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 3rem;
}

@media screen and (max-width: 1100px) {
    main{
        margin-left: 1rem;
        margin-right: 1rem;
    }
}


@media screen and (max-width: 900px) {
    main{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    
    h1{
        font-size: 2.9rem;
        font-weight: bold;
        text-transform: capitalize;
    }

    h2{
        font-size: 2.4rem;
        text-transform: capitalize;
    }

    h3{
        font-size: 2.1rem;
        font-weight: lighter;
        text-transform: capitalize;
        font-style: italic;
    }

    h3, h4, h5, h6 {
        font-size: 1.9rem;
        font-weight: lighter;
        text-transform: capitalize;
    }

    p{
        font-size: 1.7rem;
        text-align: justify;
    }

    ul, li{
        font-size: 1.5rem;
        text-transform: capitalize;
        font-style: italic;
        line-height: 2.5rem;
    }

    a{
        color: black;
        font-size: 1.4rem;
        padding-bottom: 3rem;
    }
}